@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    box-sizing: border-box;
}
:root{
  --darkblue: #14162f;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
  
}



.navbar{
  background-color: var(--darkblue);
}
.buttons .btn-dark{
  background-color: var(--darkblue)
}

section.pruebas{
    padding: 100px 0;
    background-image: url(../img/Fondo4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
section.pruebas img{
  padding-left: 55px;
}

section.setup{
  padding: 70px 0;
}
section.setup .text-center{
padding: 15px 0;
border-radius: 25px;
/* box-shadow: 27px 40px 20px -3px rgba(0,0,0,0.1); */

}
section.setup .text-center h1{
  font-size: 24px;
}
section.setup .buttons{
  padding: 20px 0;
}

/*---TITULOS Y TEXTOS--------------------*/
.titulos-1{
  padding: 50px 0;
  font-size: 24px;
  font-weight: 800;
  }

  
.titulos-2{
padding: 50px 0;
font-size: 38px;
font-weight: 800;
}
.titulos-3{
  padding: 50px 0;
font-size: 24px;
font-weight: 800;
}

.texto-1{
  font-size: 24px;
  color: grey;
}
.texto-2{
  font-size: 18px;
  color: grey;
}
.texto-3{
  font-size: 18px;
  color: grey;
}

/*---TITULOS Y TEXTOS--------------------*/


/*--------------------------------- ANIMATION DEL TITULO----------------------------------- */
.breathing-text {
  padding: 50px 0;
    font-size: 48px;
    font-weight: 800;
    color: #14162f;
    animation: breathing 2s ease-in-out infinite;
  }
  
  @keyframes breathing {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  /*--------------------------------- ANIMATION DEL TITULO----------------------------------- */
/*-------RESPONSIVE Media Pantalla------------------------*/
  @media (max-width: 950px){
  
    .breathing-text{
      font-size: 32px;
    }
    section.pruebas img{
      padding-left: 70px;
      
    }
  }


/*-------RESPONSIVE MOBILEE------------------------*/
  @media (max-width: 576px){
   
section.pruebas{
      padding: 50px 0;
      background-image: none;
   
  }
  section.pruebas img{
    display: none;
    
  }
  section.setup{
    padding: 1px 0;
  }
  section.setup .text-center h1{
    font-size: 16px;
  }
  
  .titulos-1{
    padding: 25px 0;
    font-size: 18px;
    font-weight: 800;
    }

    .titulos-2{
      text-align: center;
    }
    .titulos-3{
      padding: 25px 0;
    font-size: 18px;
    font-weight: 800;
    }

.texto-2{
      text-align: center;
    }
    .img-laravel{
      display: none;
    }
    .breathing-text{
    text-align: center;
    font-size: 32px;
  }
.buttons{
    text-align: center;
  }
  
  }